@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--pink: hsl(340, 85%, 50%);
	--pink-darker: hsl(340, 85%, 45%);
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: url('https://cdn.hipwallpaper.com/i/92/18/b42iYx.png') no-repeat center center fixed;
	background-size: cover;
}

/* HEADER */
.header {
	width: 100%;
	min-height: 10vh;
	background: #10181a;
	color: #fff;
	white-space: nowrap;
	padding: 0 10rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header .logo {
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Redressed', cursive;
	color: var(--pink);
}

.header .navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .navbar-ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.header .navbar-ul .navbar-ul-li {
	font-size: 1.5rem;
	list-style-type: none;
	margin: 0 3.5rem;
	cursor: pointer;
}

.header .navbar-ul .navbar-ul-li:hover {
	color: var(--pink);
}

.hamburger {
	background-color: transparent;
	border: 0;
	display: none;
	color: var(--pink-darker);
	cursor: pointer;
	font-size: 20px;
}

.hamburger:focus {
	outline: none;
}

/* Selected nav bar color */
.navbar-ul-li.selected {
	color: var(--pink);
}

/* HOME SECTION */
.home-section {
	text-align: center;
	margin: 15rem 0 10rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-section .main-message {
	font-size: 7.5rem;
	font-family: 'Redressed', cursive;
	background: linear-gradient(to right, hsl(340, 85%, 60%), hsl(340, 85%, 70%), hsl(340, 85%, 80%));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-section .second-message {
	font-size: 2.5rem;
	font-family: 'Redressed', cursive;
	color: #fff;
}

.home-section .order-button {
	margin-top: 2rem;
	border: none;
	border-radius: 10px;
	outline: none;
	padding: 1rem 3rem;
	color: #fff;
	font-size: 1.15rem;
	background: var(--pink);
	cursor: pointer;
}

.home-section .order-button:hover {
	background: var(--pink-darker);
}

/* MENU SECTION */
.menu-section {
	width: 60vw;
	margin: 100px auto 0 auto;

	background: #a87491;
	border: 2px solid #000;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	justify-items: start;

	padding: 3.5rem;
}

.product-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-description {
	margin: 0 1rem;
}

.product-name-price {
	border-bottom: 2px dotted #000;
	display: flex;
	justify-content: space-between;
}

.product-name,
.product-price {
	font-size: 1.5rem;
	font-family: 'Redressed', cursive;
	font-weight: bold;
}

.product-name {
	color: #10181a;
}

.product-price {
	color: var(--pink-darker);
}

.product-recipe {
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

/* CONTACT SECTION */
.contact-section {
	width: 60vw;
	margin: 100px auto 0 auto;
	padding: 8rem 6rem;

	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #fff;
}

.contact-title {
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);

	white-space: nowrap;
	font-size: 3.5rem;

	background: linear-gradient(to right, hsl(340, 85%, 60%), hsl(340, 85%, 70%), hsl(340, 85%, 80%));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: min-content;
	flex: 1;
}

.contact-form > * {
	width: 500px;
	margin: .75rem 0;
	font-size: 1.25rem;
}

.contact-form > input,
.contact-form > textarea {
	padding: .5rem;
}

.contact-form > .contact-submit-button {
	width: 250px;
	display: block;
	margin: 0 auto;
	border: 2px solid #fff;
	outline: none;
	background: none;
	color: #fff;
	cursor: pointer;
}

.contact-submit-button:active {
	transform: translateY(2px);
}

.message-area {
	resize: none;
	height: 250px;
}

.contact-info {
	margin-left: 3rem;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
}

.contact-info > * {
	margin: .5rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.5rem;
}

.contact-info > * > * {
	margin: 0 .5rem;
}

.im:not(.im-menu) {
	color: var(--pink);
}

/* Media Queries */
@media (max-width: 1400px) {
	.header {
		padding: 0 2rem;
		flex-wrap: wrap;
	}

	.header .logo {
		font-size: 2.25rem;
	}

	.header .navbar-ul .navbar-ul-li {
		font-size: 1.25rem;
	}

	.home-section .main-message {
		font-size: 5.5rem;
	}

	.menu-section {
		grid-template-columns: 1fr;
	}

	.contact-section {
		width: 100vw;
		margin: 100px auto 0 auto;
		padding: 8rem 6rem;
	}

	.contact-form > * {
		width: 400px;
		font-size: 1.25rem;
	}
}

@media (max-width: 1200px) {
	.home-section .main-message {
		font-size: 4rem;
	}
}

@media (max-width: 1000px) {
	.contact-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-form,
	.contact-info {
		margin: 1rem 0;
	}

	/* Hamburger */
	.header .navbar {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.header .navbar.show {
		display: flex;
	}

	.hamburger {
		display: block;
	}
}

@media (max-width: 800px) {
	.product-image {
		display: none;
	}
}

@media (max-width: 600px) {
	.menu-section {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.product-title,
	.product-price {
		font-size: 1rem;
	}

	.product-recipe {
		font-size: .75rem;
	}

	.contact-title {
		font-size: 2.5rem;
	}

	.contact-form > * {
		width: 250px;
		font-size: 1.25rem;
	}

	.contact-form > .contact-submit-button {
		width: 125px;
	}
}

@media (max-width: 400px) {
	.menu-section {
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.contact-title {
		font-size: 1.75rem;
	}
}
